html,
body {

    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: gold;
}

/** Header & Banner **/
h1 {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

/** Nav Bar & logo (Similiar code to previous project) **/
.logo {
    height: 200px;
    display: flex;
    text-align: left;
    margin: auto;
}

.nav-bar {
    color: #1f1f1f;
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 4px;
    display: flex;
    background-color: #ffffff;
    height: 200px;
}

.nav-links {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}

.nav-links li {
    margin: 10px;
    display: inline-block;
    width: max-content;
    text-align: center;
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
}

.nav-bar a:hover {
    color: blue;
}

/** Background Photo **/
.background-photo {
    width: 100%;
    height: 550px;
    background-position: center 100%;
    text-align: center;
    color: white;
    margin-bottom: 150px;
}

/** Question Box (some code used here from Love Maths Project) **/
.game-box {
    background-color: #4acfee;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: black 4px solid;
    border-radius: 50px;
}

/** Button Styling - Some code used from Love Maths **/
.btn {
    width: 220px;
    height: 80px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.2px;
    color: black;
    background-color: #ffffff;
    border: black 4px solid;
    text-align: center;
    margin: 3px;
}

.begin-quiz {
    width: 220px;
    height: 80px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    background-color: #ffffff;
    border: black 4px solid;
    text-align: center;
}

.title {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    width: fit-content;
    padding: 0 20px 3px 0;
}

.social-media{
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.link-container {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
    width: 100%;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #fff;
    overflow: hidden;
    padding: 0 10px;
}


/** Question Box **/
.question-box {
    font-size: x-large;
}

/** Answer Box **/
.answer-box {
    font-size: x-large;
}

.answer-box p {
    border: black 4px solid;
    background-color: #ffffff;
}

/** Your Score **/
.your-score {
    text-align: left;
    justify-content: space-between;
}

/** Timer **/
#timer {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    background-color: #ffffff;
    border: black 1px solid;
    position: relative;
    justify-content: space-between;
}

/** HLL Photos & About, FAQ & Rules Section **/
.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    background-color: gold;
    font-size: xx-large;
    font-weight: bolder;

}

.about-p {
    text-align: center;
}

.about-photo {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    height: 750px;
}

.rules {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    background-color: gold;
    font-size: xx-large;
    font-weight: bolder;
}

.rules-photo {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 750px;
}

.rules-p {
    text-align: center;
}

.faq {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    background-color: gold;
    font-size: xx-large;
    font-weight: bolder;
}

.faq-photo {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    height: 750px;
}

.faq-p {
    text-align: center;
}

/* Social Links */
.social-links {
    text-align: center;
    text-decoration: none;
    letter-spacing: 30px;
    background-color: #ffffff;
    padding: 70px;
    height: 200px;
}

.social-links li {
    display: inline;
    color: inherit;
    background-color: #ffffff;
}

.social-links :hover {
    color: gold;
}

.social-links-list {
    background-color: #ffffff;
    margin: auto;
}

.copyright {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
}

/** - Media Queries **/
@media screen and (max-width:1650px) {
    .background-photo {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .logo {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .nav-bar {
        width: auto;
        height: auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    .about-photo {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .rules {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .rules-photo {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .faq {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    .faq-photo {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width:550px) {
    .nav-links {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1650px) {
    .game-box {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}