html,
body {

    margin: auto;
    padding: 0;
}


body {

    background-color: gold;
}

/** Header & Banner **/

h1 {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    text-align: center;

}

.hll-header {
    background-color: #ffffff;
    width: 30%;
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;

}

/** Nav Bar & logo (Similiar code to previous project) **/

.logo {
    height: 100px;
    margin-left: 20px;
    display: flex;
}

.nav-bar {
    color: #1f1f1f;
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 4px;
    margin-top: 0px;
    display: flex;
    background-color: #ffffff;
    height: 100px;

}

.nav-links {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;

}

.nav-links li {
    margin: 10px;
    display: inline-block;
    width: max-content;
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
}

.nav-bar a:hover {
    color: gold;
}

/** Background Photo **/
.background-photo {

    background: url(../images/video-game-background.png);
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
}


/** Question Box (some code used here from Love Maths Project) **/

.game-box {
    background-color: #4acfee;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


/** HLL Photos **/

.hll-photo-1 {

    background: url(../images/hll-photo-1.jpeg);
    width: 100%;
    height: 1150px;
    background-position: right;
    background-repeat: no-repeat;
}

.hll-photo-2 {

    background: url(../images/hll-photo-2.jpeg);
    width: 100%;
    height: 1250px;
    background-position: left;
    background-repeat: no-repeat;
}

.hll-photo-3 {

    background: url(../images/hll-photo-3.jpeg);
    width: 100%;
    height: 1250px;
    background-position: right;
    background-repeat: no-repeat;
}

/* Social Links */
.social-links {
    text-align: center;
    text-decoration: none;
    letter-spacing: 20px;
    background-color: #ffffff;
}

.social-links li {
    display: inline;
    color: inherit;
    background-color: #ffffff;
}

.social-links :hover {
    color: #ffffff;
}

.social-links-list {
    background-color: #ffffff;
    margin: auto;
}

.copyright {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
}