html,
body {

    margin: auto;
    padding: 0;
}


body {

    background-color: gold;
}

/** Header & Banner **/

h1 {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    text-align: center;

}

/** Nav Bar & logo (Similiar code to previous project) **/

.logo {
    height: 100px;
    margin-left: 20px;
    display: flex;

}

.nav-bar {
    color: #1f1f1f;
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 4px;
    margin-top: 0px;
    display: flex;
    background-color: #ffffff;
    height: 100px;

}

.nav-links {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;

}

.nav-links li {
    margin: 10px;
    display: inline-block;
    width: max-content;
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
}

.nav-bar a:hover {
    color: gold;
}

/** Background Photo **/
.background-photo {

    background: url(../images/video-game-background.png);
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
}


/** Question Box (some code used here from Love Maths Project) **/

.game-box {
    background-color: #4acfee;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


/** HLL Photos **/

.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: #ffffff;
    font-size: xx-large;
    font-weight: bolder;
    

}

.about-p {
    border: navy 4px solid;
    border-radius: 500px;
    text-align: left;
}

.about-photo {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    height: 750px;
}

.rules {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: gold;
    font-size: xx-large;
    font-weight: bolder;
}

.rules-photo {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 750px;
}

.faq {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: gold;
    font-size: xx-large;
    font-weight: bolder;
}

.faq-photo {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    height: 750px;
}


/* Social Links */
.social-links {
    text-align: center;
    text-decoration: none;
    letter-spacing: 20px;
    background-color: #ffffff;
}

.social-links li {
    display: inline;
    color: inherit;
    background-color: #ffffff;
}

.social-links :hover {
    color: #ffffff;
}

.social-links-list {
    background-color: #ffffff;
    margin: auto;
}

.copyright {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
}